<div class="w-full max-w-sm p-6 space-y-6 bg-white rounded-3xl">
    <div class="w-full max-w-sm p-6 space-y-6 bg-white rounded-3xl">
  
      <h1 class="text-[32px] leading-[38.4px] text-purple1 text-center">
        Passwort zurücksetzen
      </h1>

  
      <div class="space-y-4">
        <div class="relative">
          <img src="assets/imgs/icons/lock.svg" alt="Lock Icon"
            class="absolute w-5 h-5 transform -translate-y-1/2 left-4 top-1/2" />
          <input type="password" placeholder="Neues Passwort"
            class="w-full py-2 pl-12 pr-4 text-sm text-black transition duration-200 border border-white rounded-full bg-primary focus:bg-primary focus:border-purple2 focus:ring-2 focus:ring-purple2 focus:outline-none placeholder-textgray" />
        </div>
  
        <div class="relative">
          <img src="assets/imgs/icons/lock.svg" alt="Lock Icon"
            class="absolute w-5 h-5 transform -translate-y-1/2 left-4 top-1/2" />
          <input type="password" placeholder="Neues Kennwort bestätigen"
            class="w-full py-2 pl-12 pr-4 text-sm text-black transition duration-200 border border-white rounded-full bg-primary focus:bg-primary focus:border-purple2 focus:ring-2 focus:ring-purple2 focus:outline-none placeholder-textgray"
             />
        </div>
  
        <button
          class="w-full py-2 text-center text-white transition bg-gray-700 rounded-full hover:bg-gray-800">
          Passwort ändern
        </button>
      </div>
  
    </div>
  </div>
  