<section class="box-border pb-4 bg-white">
    <div class="box-border flex flex-col">
        @for (message of messages; track message; let i = $index) {
            @if (messages !== undefined) {
                @if (i === 0) {
                    <app-chat-seperator
                        class="flex items-center text-[18px] my-[10px] px-4"
                        [date]="messageService.formatDate(message.timestamp)">
                    </app-chat-seperator>
                } @else if (!messageService.isSameDay(messageService.getDateFromTimestamp(message.timestamp), messageService.getDateFromTimestamp(messages[i - 1].timestamp))) {
                    <app-chat-seperator
                        class="flex items-center text-[18px] my-[10px] px-4"
                        [date]="messageService.formatDate(message.timestamp)">
                    </app-chat-seperator>
                }
            }
            
            <div id="{{ chatType }}{{ i }}" (click)="mainNavService.editMessage(i, chatType)"
                class="flex gap-5 mt-[25px] px-4 py-2 cursor-pointer hover:bg-primary"
                [ngClass]="{ 'flex-row-reverse': fromCurrentUser('user.id'), '[&>div>#msg-content]:hover:bg-white': !fromCurrentUser('user.id')}">
                <div class="w-max">
                    <img class="min-w-[50px] size-[50px] rounded-full" src="assets/imgs/avatar{{ 0 }}.svg" alt="Avatar">
                </div>
                <div class="flex flex-col gap-2">
                    <div class="flex items-center gap-5" [ngClass]="{ 'justify-end': fromCurrentUser('user.id')}">
                        <span class="text-lg font-bold">{{ userService.getUserById2(message.sender) }}</span>
                        <span class="text-sm">{{ messageService.formatTime(message.timestamp) }} Uhr</span>
                    </div>
                    <div id="msg-content"
                        class="bg-primary p-[15px] rounded-[30px] w-min"
                        [ngClass]="{ 'bg-purple2 text-white rounded-se-none rounded-ss-[30px]': fromCurrentUser('user.id'), ' rounded-ss-none': !fromCurrentUser('user.id') }">
                        <span>{{ message.message }}</span>
                    </div>

                    @if (message.threadId !== '' && chatType !== 'thread') {
                        <app-chat-message-answer
                            class="cursor-pointer flex flex-col xs:flex-row xs:items-center xs:gap-[20px]"
                            [ngClass]="{'self-end': fromCurrentUser('user.id')}"
                            [message]="message">
                        </app-chat-message-answer>
                    }

                    @if (message.reactions.length > 0) {
                        <app-chat-message-reactions
                            class="flex items-center gap-2 w-max"
                            [ngClass]="{'self-end pr-[5px]': fromCurrentUser('user.id')}"
                            [message]="message">
                        </app-chat-message-reactions>
                    }
                </div>
            </div>
        }
    </div>

</section>