<div class="w-full h-[80px] bg-primary flex justify-between items-center pr-[16px] pl-[16px]">

  <img id="logo" src="assets/imgs/logo.svg" alt="DaBubble Logo" class="hidden h-16 mt-4 md:block" />

  <div 
    (click)="switchLogo()"
    class="flex items-center gap-2 cursor-pointer md:hidden">
    @if (navService.showChannel()) {
      <img src="/assets/icons/keyboard_arrow_down.svg" alt="" />
    }
    <img [src]="
          mainNavService.showAltLogo
            ? 'assets/imgs/logo.svg'
            : '/assets/imgs/workspace-logo.svg'
        " alt="" />
    @if (!mainNavService.showAltLogo) {
    <p class="text-xl font-bold">DevSpace</p>
    }
  </div>

  <app-search class="w-[50%] hidden lg:block self-end"></app-search>

  <img src="{{ usersService.currentUser.avatar }}" (click)="overlayService.logoutOvelay()"
    class="h-16 mt-4 rounded-full cursor-pointer hover:scale-[1.1] duration-150" alt="DaBubble avatar" />
</div>