<div
  class="w-full h-[80px] bg-primary flex justify-between items-center pr-[16px] pl-[16px]"
>
  <!-- Bedingter Wrapper für Logo / Mobile Darstellung -->
  <div
    [class.cursor-pointer]="isMobile && !mainNavService.showAltLogo"
    (click)="isMobile && !mainNavService.showAltLogo && switchLogo()"
  >
    @if (!isMobile) {
    <img
      id="logo"
      src="assets/imgs/logo.svg"
      alt="DaBubble Logo"
      class="hidden h-16 mt-4 sm:block"
    />
    } @if (isMobile) {
    <div class="flex items-center gap-2 max810:flex hidden">
      <!-- Nur anzeigen, wenn NICHT logo.svg aktiv -->
      @if (!mainNavService.showAltLogo) {
      <img src="/assets/icons/keyboard_arrow_down.svg" alt="" />
      }
      <img
        [src]="
          mainNavService.showAltLogo
            ? 'assets/imgs/logo.svg'
            : '/assets/imgs/workspace-logo.svg'
        "
        alt=""
      />
      <!-- Text nur bei workspace-logo -->
      @if (!mainNavService.showAltLogo) {
      <p class="text-xl font-bold">DevSpace</p>
      }
    </div>
    }
  </div>

  <app-search class="w-[50%] hidden lg:block self-end"></app-search>

  <img
    src="{{ usersService.storedUser.avatar }}"
    (click)="overlayService.logoutOvelay()"
    class="h-16 mt-4 rounded-full cursor-pointer hover:scale-[1.1] duration-150"
    alt="DaBubble avatar"
  />
</div>
