<div class="flex items-center justify-between w-full px-4 py-[15px] bg-primary">

  <img id="logo" src="assets/imgs/logo.svg" alt="DaBubble Logo" class="hidden h-[70px]  md:block" />

  <div class="flex items-center gap-2 cursor-pointer md:hidden " (click)="!mainNavService.showAltLogo && switchLogo()"
    [class.cursor-pointer]="!mainNavService.showAltLogo">

    @if (navService.showChannel() && !mainNavService.showAltLogo) {
      <img src="assets/icons/keyboard_arrow_down.svg" alt="Arrow Down" />
    }

    <img [src]="
        mainNavService.showAltLogo
          ? 'assets/imgs/logo.svg'
          : 'assets/imgs/workspace-logo.svg'
      " alt="Workspace Logo" [ngClass]="{
        'hover:scale-[1.1] active:scale-[0.9] duration-150': !mainNavService.showAltLogo
      }" class="h-[45px]" />

    @if (!mainNavService.showAltLogo) {
      <p class="text-xl font-bold">DevSpace</p>
    }
  </div>

  <app-search class="w-[50%] hidden md:block self-end"></app-search>
  <div class="flex items-center gap-5">
    <span class="text-[32px] font-bold"
      [ngClass]="{'hidden': !navService.bigScreen()}">{{ usersService.currentUser.name }}</span>
    <img src="{{ usersService.currentUser.avatar }}" (click)="overlayService.logoutOvelay()"
      class="size-[50px] md:size-[70px] rounded-full cursor-pointer hover:scale-[1.1] duration-150"
      alt="DaBubble avatar" />
  </div>
</div>