<section class="py-2 h-fit">
  <div class="flex items-center justify-between w-full h-12 px-2">
    <button (click)="directMessagesToggle()" class="flex items-center gap-3 py-3">
      <img class="size-8" id="driectArrow" src="assets/icons/arrow_drop_down.svg" alt="" />
      <div class="flex gap-2 text-xl font-bold">
        <img class="size-6" src="assets/icons/account_circle.svg" alt="" />
        Direktnachrichten
      </div>
    </button>
  </div>

  <ul id="directList" class="flex flex-col gap-1 pl-8">


    @for (userItem of userService.getUsersWithCurrentFirst(); track $index; let i = $index) {
    <li [style.animation-delay]="i * 0.05 + 's'" class="user-item" (click)="
        mainNavService.openChannel(true);
        dmService.openOrCreateDirectMessageConversation(userItem);
        mainNavService.markedUser(userItem)
      ">
      <app-user class="hover:font-bold hover:text-purple3" [userInfo]="userItem"></app-user>
    </li>
    }

  </ul>
</section>