<section class="max-w-lg border border-black h-60 rounded-[30px] bg-white py-7 px-4 flex flex-col gap-5 shadow-lg">

    <div class="flex justify-between">
        <span class="text-2xl font-bold">Leute hinzufügen</span>
        <img class="cursor-pointer hover:scale-[1.2] duration-200 active:scale-[0.9]" src="/assets/icons/close.svg"
            alt="">
    </div>

    <div class="border border-black h-14 rounded-[30px] px-5 py-[15px]">
        <input class="w-full focus:outline-none" type="text" placeholder="Name eingeben">
    </div>

    <button
        class="self-end h-12 text-white bg-slate-500 w-36 rounded-3xl hover:scale-[1.1] duration-200 active:scale-[0.9]">
        hinzufügen
    </button>

</section>