<section class="lg:max-w-[710px] h-fit rounded-[30px] bg-white py-7 px-4 flex flex-col gap-5 shadow-lg relative">

    <div class="flex justify-between">
        <span class="text-2xl font-bold">Leute hinzufügen</span>
        <img (click)="overlayService.addUserOverlay()"
            class="cursor-pointer hover:scale-[1.2] duration-200 active:scale-[0.9]" src="assets/icons/close.svg"
            alt="">
    </div>

    <div class="flex flex-col gap-3">
        <span class="flex gap-3" (click)="selectAllMembers()">
            <input type="radio" id="all" name="memberChoice" [checked]="!choiceInput">
            <label for="all">Alle Mitglieder hinzufügen</label>
        </span>

        <span class="flex gap-3" (click)="switchToManualMemberSelection()">
            <input type="radio" id="choice" name="memberChoice" [checked]="choiceInput">
            <label for="choice">Manuell auswählen</label>
        </span>
    </div>

    @if (choiceInput) {
    <div class="border border-black h-14 rounded-[30px] px-5 py-[15px]">
        <input [(ngModel)]="filterService.searchMembers" class="w-full focus:outline-none" type="text"
            placeholder="Name eingeben">
    </div>

    @if (true) {
    <div
        class="absolute bottom-[-145px] border border-black w-60 h-60 bg-white rounded-[30px] overflow-auto py-4 flex flex-col gap-2">
        @for (item of filterService.filteredMembers(); track $index) {
        <app-user [userInfo]="item" (click)="channelService.toggleUserSelection(item)"></app-user>
        }
    </div>
    }
    }
    <button (click)="createChannelAndClose()" class=" self-end h-12 text-white bg-slate-500 w-36 rounded-3xl hover:scale-[1.1] duration-200
        active:scale-[0.9]">
        hinzufügen
    </button>

</section>