<section class="flex flex-col h-screen p-2">
  <app-header></app-header>
  <div class="h-full border border-black pt-28">
    <app-search></app-search>
    <div class="flex flex-col h-full mx-6 my-6 border border-yellow-400">
      <app-channels></app-channels>
      <app-direct-messages></app-direct-messages>
    </div>
  </div>

  <div
    class="flex justify-center items-center w-[60px] h-[60px] rounded-full bg-[rgba(68,77,242,1)] absolute top-[815px] left-[85%] -translate-x-1/2 cursor-pointer"
  >
    <img
      src="assets/imgs/icons/add-user-btn.svg"
      alt=""
      class="w-[40px] h-[40px]"
    />
  </div>
</section>
