<section [ngClass]="{'userChecked': channelService.isUserSelected(userInfo)}"
    [ngClass]="{'userChecked': userInfo.name == mainNavService.selectedUser.name}"
    class="flex items-center  gap-4 px-5 py-1 min-w-[200px]  w-fit rounded-[30px] hover:bg-primary cursor-pointer bg-white hover:scale-[1.005] duration-150 active:scale-[0.97] active:bg-purple2">
    <div class="relative">
        <img class="size-14 rounded-[50%]" src="{{userInfo.avatar}}" alt="">
        <span class="absolute right-0 bg-online size-4 bottom-1 rounded-[50%] border-white border-2"
            [ngClass]="{'bg-online' :isOnline, 'bg-offline' : !isOnline}"></span>
    </div>

    <span>{{userInfo.name}} @if(userInfo.name == userService.currentUser.name){(DU)} </span>
</section>