:host {
    position: absolute;
    bottom: 60px;
    left: 0;
    z-index: 1000;
    margin-bottom: 428px;  /* NEU: Abstand nach unten */
  }
  
  .picker-wrapper {
     width: 338px; 
     margin-bottom: 428px;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 5px;
    max-height: 300px;
    overflow-y: auto;
  }
  