<section class="py-[3px] pl-[20px] pr-[15px] flex border border-lightpurple rounded-full rounded-ee-none bg-white">
    <button class="flex items-center justify-center transition-all rounded-full size-10 hover:bg-primary" (click)="addEmoji(emojisService.emojis.fav[0])"><span class="size-5">{{ emojisService.emojis.fav[0] }}</span></button>
    <button class="flex items-center justify-center transition-all rounded-full size-10 hover:bg-primary" (click)="addEmoji(emojisService.emojis.fav[1])"><span class="size-5">{{ emojisService.emojis.fav[1] }}</span></button>
    <button class="flex items-center justify-center transition-all rounded-full size-10 hover:bg-primary" (click)="toggleEmojiReactionPicker()"><img class="size-5" src="assets/icons/add_emoji.svg" alt=""></button>
    @if (chatType !== 'thread') {
        <button class="flex items-center justify-center transition-all rounded-full size-10 hover:bg-primary" (click)="openThread(); navService.openThread();"><img class="size-5" src="assets/icons/open_thread.svg" alt=""></button>
    }
    @if (usersService.fromCurrentUser(message.sender)) {
        <div class="relative">
            <button class="flex items-center justify-center transition-all rounded-full size-10 hover:bg-primary [&~p]:hover:opacity-100"
                    (click)="onEditClick()">
                    <img class="size-5" src="assets/icons/more_vert.svg" alt=""></button>
            <p class="py-[10px] px-[20px] drop-shadow-[0px_6px_14px_rgba(0,0,0,0.2)] absolute right-[75%] s:left-[75%] s:top-[50%] opacity-0 transition-all w-max bg-white rounded-[30px] rounded-se-none s:rounded-se-[30px] s:rounded-ss-none">Nachricht bearbeiten</p>
        </div>
    }
</section>