.splash-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: auto;
  height: 68px;
  animation: moveLeft 0.3s ease-in-out forwards;
  animation-delay: 0.1s;

  @media (max-width: 500px) {
    height: 70px;
  }
}

.splash-text {
  opacity: 0;
  transform: translateX(-20px);
  animation: fadeInRight 0.2s ease-out forwards;
  animation-delay: 0.4s;
}

#splash-screen {
  transition: opacity 0.5s ease-out;
  
  &.splash-hidden {
    opacity: 0;
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20px);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 0.5;
    transform: translateX(0);
  }
}

/* Desktop animation */
@media (min-width: 768px) {
  .splash-container {
    animation: moveToTopLeft 0.5s ease-in-out forwards;
    animation-delay: 0.8s;
  }

  @keyframes moveToTopLeft {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-40vw, -44vh);
    }
  }
}

/* Mobile animation */
@media (max-width: 767px) {
  .splash-container {
    animation: moveToTop 0.5s ease-in-out forwards;
    animation-delay: 0.8s;
  }

  @keyframes moveToTop {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(2vw, -40vh);
    }
  }
}

@keyframes containerMoveMobile {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate();
  }
}

@keyframes containerMoveDesktop {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate();
  }
}

@keyframes moveIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-containerMoveMobile {
  animation: moveLeft 0.5s ease-in-out forwards,
             moveToTopLeft 0.5s ease-in-out forwards 1s;
}

.animate-containerMoveDesktop {
  animation: moveLeft 0.5s ease-in-out forwards,
             moveToTopLeft 0.5s ease-in-out forwards 1s;
}

.animate-moveIn {
  animation: moveIn 0.3s ease-out forwards;
  animation-delay: 0.4s;
}
