<form
  class="relative min-w-[320px] flex flex-col items-center w-full gap-4 px-5 py-5 text-lg bg-white shadow-md sm:py-10 sm:gap-8 sm:px-10 sm:text-xl rounded-3xl"
  (ngSubmit)="login()" #contactForm="ngForm">


  <h1 class="text-2xl font-bold xs:text-3xl sm:text-4xl text-purple1">
    Anmeldung
  </h1>


  <p class="leading-6 text-center text-textgray">
    Wir empfehlen dir, die E-Mail-Adresse zu <br> nutzen, die du bei der Arbeit
    verwendest.
  </p>


  <div
    class="input-box flex items-center w-full max-w-[500px] relative bg-primary px-4 py-3 gap-2 rounded-[100px] input-container"
    [ngClass]="{'invalid': !email.valid && (email.touched || contactForm.submitted), 'valid': email.valid}">
    <img src="assets/imgs/icons/mail.svg" alt="Mail Icon" class="size-5" />
    <input #email="ngModel" type="email" placeholder="beispielname@email.com" class="flex-1 outline-none bg-primary"
      [(ngModel)]="loginData.email" name="email" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required />
    @if(!email.valid && (email.touched || contactForm.submitted)){
    <span
      class="shake-animation absolute w-full text-center text-base  sm:text-lg text-red-500 bottom-[-22px] sm:bottom-[-30px]">Bitte gültige E-Mail eingeben.</span>
    }
  </div>


  <div
    class="input-box flex relative items-center w-full max-w-[500px] bg-primary px-4 py-3 gap-2 rounded-[100px] input-container"
    [ngClass]="{'invalid': !password.valid && (password.touched || contactForm.submitted), 'valid': password.valid}">
    <img src="assets/imgs/icons/lock.svg" alt="Lock Icon" class="size-5" />
    <input #password="ngModel" type="password" placeholder="Passwort" minlength="6"
      class="flex-1 outline-none bg-primary" [(ngModel)]="loginData.password" name="password" required />
    @if(!password.valid && (password.touched || contactForm.submitted)){
    <span
      class="shake-animation absolute w-full text-center text-base  sm:text-lg text-red-500 bottom-[-22px] sm:bottom-[-30px]">
      Bitte Passwort eingeben.
    </span>
    } 
    <!-- @else if (!isLoginDataValid) { -->
      <span class="shake-animation absolute w-full text-center text-base  sm:text-lg text-red-500 bottom-[-22px] sm:bottom-[-30px]">{{ error }}</span>
    <!-- } -->
  </div>


  <span (click)="change()" class="cursor-pointer text-purple2 hover:underline">Passwort vergessen?</span>


  <div class="flex items-center w-full gap-4">
    <span class="w-full h-0 border bg-slate-400"></span>
    ODER
    <span class="w-full border bg-slate-400"></span>
  </div>


  <!-- @if (error) {
  <p class="w-full text-sm text-center text-red-500">{{ error }}</p>
  } -->


  <button (click)="signInWithGoogle()" type="button"
    class="flex items-center justify-center w-full gap-2 px-4 py-2 border rounded-full hover:border-lightpurple bg-primary hover:scale-[1.1] duration-150 active:scale-[0.9]">
    <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google Icon" class="w-5 h-5" />
    Anmelden mit Google
  </button>


  <div class="flex w-full gap-7">
    @if (email.valid && password.valid) {
      <button
        type="submit"
        class="flex-1 py-2 text-white rounded-full bg-purple1 hover:bg-purple3 hover:scale-[1.1] duration-150 active:scale-[0.9]">
        Anmelden
      </button>
    } @else {
      <button
        disabled
        type="submit"
        class="flex-1 py-2 text-white rounded-full bg-textgray duration-150 active:scale-[0.9]">
        Anmelden
      </button>
    }

    <button (click)="login(true)" routerLink="main" type="button"
      class="flex-1 py-2 border rounded-full border-purple1 text-purple1 hover:bg-primary hover:scale-[1.1] duration-150 active:scale-[0.9]">
      Gäste-Login
    </button>
  </div>

</form>