<section class="flex flex-col items-center justify-center w-full h-screen max-h-screen bg-primary">
  @if (showSplash) {
  <app-splash-screen class="absolute top-0 bottom-0 left-0 right-0 z-30 splash-screen"></app-splash-screen>
  }

  <div class="flex flex-col items-center justify-center w-full gap-5">

    <!-- <img src="assets/imgs/icons/logo.svg" alt="Logo"
      class="md:absolute h-12 xs:h-14 md:h-16 lg:h-18 top-[5%] md:block md:top-4 md:left-4" /> -->

    <div class="xl:absolute top-[75px] left-[75px] flex items-center justify-center h-[70px] text-3xl gap-4">
      <img src="assets/icons/Logo.png" alt="DA-Bubble Logo" class="h-full" />
      <h1 class="font-bold animate-text">DABubble</h1>
    </div>

    @if (landingService.landing() == 'login') {
    <app-login class="flex items-center justify-center"></app-login>
    }
    @if (landingService.landing() == 'register') {
    <app-register class="flex items-center justify-center"></app-register>
    }
    @if (landingService.landing() == 'avatar') {
    <app-avatar class="flex items-center justify-center"></app-avatar>
    }
    @if (landingService.landing() == 'confirm') {
    <app-resetpw-confirm class="flex items-center justify-center"></app-resetpw-confirm>
    }
    @if (landingService.landing() == 'request') {
    <app-resetpw-request class="flex items-center justify-center"></app-resetpw-request>
    }

    @if (landingService.landing() == 'login') {
    <div class="registration-btn-box md:absolute bottom-[3%] flex-col gap-5 h-fit md:flex md:top-4 md:right-4">
      <p class="text-base text-black">Neu bei DABubble?</p>
      <button (click)="goToRegister()"
        class="px-6 py-2 text-sm font-semibold transition border opacity-[0.8] hover:opacity-[1] hover:scale-[1.1] active:scale-[0.9] border-purple1 rounded-full text-purple1">
        Konto erstellen
      </button>
    </div>
    }
  </div>

  <div class="flex gap-4 mt-5 btn-box bottom-12">
    <button routerLink="legal"
      class="hover:scale-[1.1] active:scale-[0.9] duration-150 px-3 py-2 border opacity-[0.8] hover:opacity-[1] hover:border-textgray rounded-full text-purple1">Impressum
    </button>
    <button routerLink="privacy"
      class="hover:scale-[1.1] active:scale-[0.9] duration-150 px-3 py-2 border opacity-[0.8] hover:opacity-[1] hover:border-textgray rounded-full text-purple1">Datenschutz
    </button>
  </div>
</section>