<div
  class="relative min-h-screen overflow-hidden transition-colors duration-700"
  [ngClass]="{
    'bg-gradient-to-b from-[#727CFA] to-[#444DF2]': !splashDone,
    'bg-white': splashDone
  }"
>
  <!-- Splash-Logo in der Mitte -->
  <div
    class="absolute inset-0 flex items-center justify-center transition-all duration-700 ease-in-out"
    [ngClass]="{
      'translate-y-0 opacity-100 z-50': !showContent,
      '-translate-y-[250px] opacity-0 z-0': showContent
    }"
  >
  <img src="assets/icons/Logo.png" alt="Logo" class="h-24 animate-pulse" />
</div>

  <div
    class="flex flex-col items-center justify-center min-h-screen px-4 transition-opacity duration-700 ease-in-out"
    [ngClass]="{ 'opacity-0': !showContent, 'opacity-100': showContent }"
  >
    <!-- Logo oben (falls du es auch danach zeigen willst) -->
    <img *ngIf="showContent" src="assets/imgs/icons/logo.svg" alt="Logo" class="h-16 mb-4" />

    <div class="w-full max-w-sm animate-slide-fade-up">
      @if (landingService.landing() == 'login') {
        <app-login></app-login>
      }
      @if (landingService.landing() == 'register') {
        <app-register></app-register>
      }
      @if (landingService.landing() == 'avatar') {
        <app-avatar></app-avatar>
      }
      @if (landingService.landing() == 'confirm') {
        <app-resetpw-confirm></app-resetpw-confirm>
      }
      @if (landingService.landing() == 'request') {
        <app-resetpw-request></app-resetpw-request>
      }
    </div>
  </div>
</div>
