<section class="py-2 h-fit">

    <div class="flex items-center justify-between w-full h-12 px-2">
        <button (click)="turnCannelArrow()" class="flex items-center gap-3 py-3">
            <img class="size-8" id="channel-arrow" src="assets/icons/arrow_drop_down.svg" alt="">
            <div class="flex gap-2 text-xl font-bold">
                <img class="size-6" src="assets/icons/workspaces.svg" alt="">
                Channels
            </div>
        </button>
        <img (click)="overlayService.addCannelOverlay()"
            class="cursor-pointer size-8 hover:scale-[1.1] duration-150 active:scale-[0.9]" src="assets/icons/add.svg"
            alt="">
    </div>

    <ul id="dropList" class="flex flex-col w-full gap-2 pl-8 text-lg">

        @for (channel of channelService.channels; track $index; let i = $index) {
        @if (channelService.isCurrentUserMember(channel)) {
        <li [style.animation-delay]="(i * 0.05) + 's'"
            (click)="mainNavService.openChannel(); channelService.openChannel(channel); messageService.getMessages(channel); mainNavService.markedChannel(channel)"
            [ngClass]="{'userChecked': channel.name == mainNavService.ChannelMarked.name}"
            class="channel-item flex items-center gap-4 min-w-[200px] rounded-[20px] px-10 cursor-pointer w-fit h-9 hover:bg-primary hover:font-bold hover:text-purple3 duration-150">
            <span class="font-bold">#</span> {{channel.name}}
        </li>
        }

        }
        <li (click)="overlayService.addCannelOverlay()"
            class="flex gap-3 py-3 cursor-pointer hover:text-purple3 pl-7 hover:font-bold">
            <img src="assets/icons/add_circle.svg" alt="">
            Channel hinzufügen
        </li>

    </ul>

</section>