<section class="flex flex-col w-full gap-5 px-3 py-10 bg-white shadow-2xl h-96 rounded-3xl">

    <div class="flex items-center justify-between h-10 px-5">
        <h2 class="text-2xl font-bold">Mitglieder</h2>

        <img (click)="overlayService.membersOverlay()"
            class="cursor-pointer hover:scale-[1.2] active:scale-[0.9] duration-200" src="assets/icons/close.svg"
            alt="">
    </div>

    <div class="flex flex-col w-full gap-3 p-3 overflow-auto h-52">

        @for (item of currentChannelMembers; track $index) {
        <app-user [userInfo]="getUser(usersService.getUserById2(item))"
            (click)="overlayService.profileOverlay( true, getUserObj(item));overlayService.membersOverlay()"></app-user>
        }
    </div>

    <button (click)="overlayService.addMembersOverlay();overlayService.membersOverlay()"
        class="flex items-center gap-4 py-1  cursor-pointer h-14 px-7 rounded-[30px] hover:bg-primary mx-5 hover:scale-[1.1] duration-200 shadow-md active:scale-[0.9]">
        <img src="assets/icons/person_add.svg" alt="">
        <span>
            Mitglieder hinzufüngen
        </span>
    </button>

</section>