@if (!overlayService.hideAddUserPopUp()) {
<div appClickOutside (appClickOutside)="closeOverlay()"
  class="fixed bottom-0 left-0 w-full h-fit bg-white px-[26px] py-[30px] rounded-t-[30px] flex flex-col items-start shadow-lg z-50 gap-[25px] border-2 border-rgba(255, 255, 255, 1) overlay-animated">
  <div class="flex justify-between w-full">
    <span class="text-2xl channel font-bold leading-[100%] tracking-[-0%]">
      Leute hinzufügen
    </span>
    <img class="cursor-pointer hover:scale-[1.3] duration-200 active:scale-[0.9]" src="/assets/icons/close.svg" alt=""
      (click)="closeOverlay()" />
  </div>
  <!-- Rest deines overlays -->
  <div class="flex flex-col w-full gap-4">
    <label class="flex items-center gap-3 cursor-pointer">
      <input type="radio" name="addOption" [(ngModel)]="addOption" value="all" class="accent-purple1" />
      <span class="w-full h-[25px]">
        Alle Mitglieder von
        <a href="" class="font-semibold text-purple1">Office Team</a> hinzufügen
      </span>
    </label>
    <label class="flex items-center gap-3 cursor-pointer">
      <input type="radio" name="addOption" [(ngModel)]="addOption" value="custom" class="accent-purple1" />
      <span>Bestimmte Leute hinzufügen</span>
    </label>
    @if (addOption === 'custom') {
    <div
      class="pl-7 w-full h-[48px] bg-white border border-gray-300 rounded-[42px] flex justify-between pt-[8px] pr-[24px] pb-[8px]">
      <input type="text" [(ngModel)]="customName" placeholder="Name eingeben..."
        class="w-full h-full text-gray-800 placeholder-gray-400 bg-transparent border-none focus:outline-none" />
    </div>
    }
  </div>
  <div class="flex justify-end w-full gap-4 mt-4">
    <button (click)="overlayService.createChannel()"
      class="w-[141px] h-[49px] rounded-[50px] border-2 border-purple2 bg-purple1 text-white">
      Erstellen
    </button>
  </div>
</div>
}