<app-header></app-header>

<section class="flex h-screen gap-3 p-3 bg-primary">


    <div class="flex">
        <app-navigation></app-navigation>
    </div>

    @if (true) {
        <div class="h-[100vh - 80px] flex-2 border border-black">
            <app-chat-header class="fixed"></app-chat-header>
            <app-chat-messages></app-chat-messages>
            <app-chat-input class="fixed"></app-chat-input>
        </div>
    }

    @if (true) {
        <div class=" border border-black rounded-[30px] p-3 min-w-[480px] bg-white">
            Thread
        </div>     
    }


</section>


<div [ngClass]="{ hidden: channelNavService.hideAddChannelPopUp() }"
    class="absolute flex top-0 bottom-0 left-0 right-0 bg-white lg:bg-[rgba(0,0,0,0.1)] justify-center lg:items-center">
    <app-add-channel class="top-[20%]"></app-add-channel>
</div>


<div class="absolute bottom-0" [ngClass]="{ 'hidden' : channelNavService.hideAddUserPopUp()}">
    <app-add-user1></app-add-user1>
</div>