<div class="w-full max-w-sm p-6 space-y-6 bg-white rounded-3xl">
    <div class="w-full max-w-sm space-y-6">
      
      <div class="flex items-center space-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="2" stroke="currentColor" class="w-6 h-6 text-black" (click)="goToLogin()">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
        </svg>
        <h1 class="text-[32px] leading-[38.4px]   text-purple1">Konto erstellen</h1>
      </div>
  
      <p class="text-sm text-textgray">
        Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.
      </p>
  
      <form class="space-y-4">
        <div class="relative">
          <img src="assets/imgs/icons/person_filled.svg" alt="User Icon"
            class="absolute w-5 h-5 transform -translate-y-1/2 left-4 top-1/2" />
          <input type="text" placeholder="Name und Nachname"
            class="w-full py-2 pl-12 pr-4 text-black transition duration-200 border border-white rounded-full bg-primary input-fancy focus:bg-primary focus:border-purple2 focus:ring-2 focus:ring-purple2 focus:outline-none" />
        </div>
  
        <div class="relative">
          <img src="assets/imgs/icons/mail.svg" alt="Mail Icon"
            class="absolute w-5 h-5 transform -translate-y-1/2 left-4 top-1/2" />
          <input type="email" placeholder="beispielname@email.com"
            class="w-full py-2 pl-12 pr-4 text-black transition duration-200 border border-white rounded-full bg-primary input-fancy focus:bg-primary focus:border-purple2 focus:ring-2 focus:ring-purple2 focus:outline-none" />
        </div>
  
        <div class="relative">
          <img src="assets/imgs/icons/lock.svg" alt="Lock Icon"
            class="absolute w-5 h-5 transform -translate-y-1/2 left-4 top-1/2" />
          <input type="password" placeholder="Passwort"
            class="w-full py-2 pl-12 pr-4 text-black transition duration-200 border border-white rounded-full bg-primary input-fancy focus:bg-primary focus:border-purple2 focus:ring-2 focus:ring-purple2 focus:outline-none" />
        </div>
  
        <button type="submit"
          class="w-full py-2 font-semibold text-center text-white transition duration-200 rounded-full bg-purple1 hover:bg-purple3">
          Weiter
        </button>
      </form>
    </div>
  </div>
  