<section class="relative">
  <div class="w-full h-[48px] bg-white border border-gray-300 rounded-[42px] flex justify-between pt-[8px] pr-[24px] pb-[8px] pl-[24px] lg:flex">
    <input
      (input)="checkSearchInput()"
      type="text"
      [(ngModel)]="searchInput"
      placeholder="Search..."
      class="w-full h-full text-gray-800 placeholder-gray-400 bg-transparent border-none focus:outline-none pl-[10px]"/>
    <img src="assets/imgs/icons/icons.svg" alt="" class="w-[32px h-[32px]]"/>
  </div>

  <div class="absolute z-10 w-full bg-white border border-black shadow-lg max-h-96 h-fit rounded-[30px] p-5 overflow-auto">

  </div>
</section>