<div class="w-full max-w-sm p-6 space-y-6 bg-white rounded-3xl">
    <div class="w-full max-w-sm p-6 space-y-6 bg-white rounded-3xl">
        
      <div class="flex items-center space-x-2">
        <svg class="w-5 h-5 cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
        </svg>
        <h1 class="text-[32px] leading-[38.4px] text-purple1">
          Passwort zurücksetzen
        </h1>
      </div>
  
      <p class="text-sm text-textgray">
        Bitte gib deine E-Mail-Adresse ein, um dein Passwort zurückzusetzen.
      </p>
  
      <div class="relative">
        <img src="assets/imgs/icons/mail.svg" alt="Mail Icon"
          class="absolute w-5 h-5 transform -translate-y-1/2 left-4 top-1/2" />
        <input type="email" placeholder="beispielname@email.com"
          class="w-full py-2 pl-12 pr-4 text-black transition duration-200 border border-white rounded-full bg-primary focus:bg-primary focus:border-purple2 focus:ring-2 focus:ring-purple2 focus:outline-none placeholder-textgray" />
      </div>
  
      <p class="text-sm text-textgray">
        Wir senden dir eine E-Mail mit einem Link, um dein Passwort zu ändern.
      </p>
  
      <button
        class="w-full py-2 text-center text-white transition bg-gray-700 rounded-full hover:bg-gray-800">
        E-Mail senden
      </button>
    </div>
  </div>
  