<form
  class="relative min-w-[320px] flex flex-col items-center w-full gap-4 px-5 py-5 text-lg bg-white shadow-md sm:py-10 sm:gap-8 sm:px-10 sm:text-xl rounded-3xl"
  (ngSubmit)="sendeResetAnfrage()" #contactForm="ngForm">

  <div
    class="absolute top-4 left-4 w-12 h-12 flex items-center justify-center rounded-full cursor-pointer transition hover:bg-[#f0f0ff] group"
    (click)="goToLogin()">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
      class="w-6 h-6 text-gray-500 transition group-hover:text-[#444DF2]">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
    </svg>
  </div>


  <h1 class="text-2xl font-bold text-center xs:text-3xl sm:text-4xl text-purple1">
    Passwort <br> zurücksetzen
  </h1>


  <p class="leading-6 text-center text-textgray">
    Bitte geben Sie Ihre E-Mail-Adresse ein.
  </p>


  <div
    class="flex items-center w-full max-w-[500px] relative bg-primary px-4 py-3 gap-2 rounded-[100px] input-container"
    [ngClass]="{'invalid': !name.valid && (name.touched || contactForm.submitted), 'valid': name.valid}">
    <img src="assets/imgs/icons/mail.svg" alt="Mail Icon" class="size-5" />
    <input #name="ngModel" type="text" placeholder="beispielname@email.com" class="flex-1 outline-none bg-primary"
      [(ngModel)]="email" name="name" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required />
    @if(!name.valid && (name.touched || contactForm.submitted)){
    <span
      class="shake-animation absolute w-full text-center text-base  sm:text-lg text-red-500 bottom-[-22px] sm:bottom-[-30px]">
      Pleace enter email
    </span>
    }
  </div>


  <p class="leading-6 text-center text-textgray">
    Wir senden Ihnen eine E-Mail, über die <br> Sie Ihr Passwort ändern können.
  </p>



  <button type="submit"
    class="flex-1 px-6 py-3 self-end text-white rounded-full bg-purple1 hover:bg-purple3 hover:scale-[1.1] duration-150 active:scale-[0.9]">
    E-Mail senden
  </button>



  @if (showMessage) {
  <div
    class="fixed w-[269px] h-[70px] bottom-[8px] right-[8px] bg-purple1 text-white text-xl font-bold px-[30px] py-[20px] rounded-tl-[30px] rounded-tr-[30px] rounded-bl-[30px] shadow-lg z-50 transition-opacity duration-500">
    E-Mail gesendet
  </div>
  }

</form>