<section class="flex flex-col h-full max-w-[1024px] rounded-[30px]  bg-white overflow-auto relative">

    <div class="sticky top-0 items-center justify-between hidden w-full p-3 bg-white lg:flex">

        <div class="flex items-center gap-4 text-2xl font-bold">
            <img src="/assets/imgs/workspace-logo.svg" alt="">
            Devspace
        </div>

        <img class="cursor-pointer hover:scale-[1.1] active:scale-[0.9] duration-150 size-8"
            src="/assets/icons/edit_square.svg" alt="">
    </div>

    <div>


        @if (mainNavService.searchValue().length >= 1) {
        <ul class="flex flex-col">
            @for (item of mainNavService.filteredResults(); track $index) {
            @if (isUser(item)) {
            <!-- <li>{{item.name}}</li> -->
            <app-user (click)="mainNavService.navigate()" [userInfo]="item"></app-user>
            } @else if (isChannel(item)) {
            <!-- <li>{{item}}</li> -->
            <li (click)="mainNavService.openChannel()"
                class="flex items-center gap-4 px-10 cursor-pointer h-9 hover:bg-primary hover:font-bold hover:text-purple3">
                <span class="font-bold">#</span> {{item.name}}
            </li>
            }
            }
        </ul>
        }

        @if(mainNavService.searchValue().length < 1){ <app-channels></app-channels>
            <app-direct-messages></app-direct-messages>
            }


    </div>



</section>