<section class="flex pb-10 flex-col h-full max-w-[1024px] rounded-[30px]  bg-white relative">

    <div class="sticky z-[1] top-0 items-center justify-between hidden w-full p-3 bg-white md:flex">

        <div class="flex items-center gap-4 text-2xl font-bold">
            <img src="assets/imgs/workspace-logo.svg" alt="">
            Devspace
        </div>

        <img (click)="mainNavService.markedUser(user); mainNavService.markedChannel(channel); mainNavService.openNewMessage()"
            class="cursor-pointer hover:scale-[1.1] active:scale-[0.9] duration-150 size-8"
            src="assets/icons/edit_square.svg" alt="">
    </div>

    <div class="flex flex-col md:pl-8">

        <app-channels></app-channels>
        <app-direct-messages></app-direct-messages>

    </div>

</section>