<section
  class="flex flex-col min-w-80 w-full h-fit mt-[80px] rounded-[30px] gap-9 p-10 text-xl shadow-2xl border-2 border-rgba(255, 255, 255, 1) max-w-lg bg-white">



  <div class="flex justify-between w-full">
    <span class="text-2xl font-bold">Profil</span>
    <img (click)="overlayService.profileOverlay(true)"
      class="cursor-pointer hover:scale-[1.3] duration-200 active:scale-[0.9]" src="/assets/icons/close.svg" alt="" />
  </div>



  <div class="flex justify-center w-full">
    <!-- <img class="size-52 rounded-[50%]" src="currentUser" alt="Profilbild" /> -->
    <img class="size-52 rounded-[50%]" src="{{currentUser.avatar}}" alt="">
  </div>


  @if (editProfil) {
  <div class="flex flex-col w-full gap-2">
    <div class="flex items-center gap-5 font-bold">
      <img src="/assets/icons/account_circle.svg" alt="">

      <p>Vollständiger Name</p>
    </div>
    <input class="w-full px-5 py-4 border border-lightpurple rounded-[30px]" type="text" placeholder="Frederik Beck">
  </div>
  } @else {
  <div class="flex flex-col h-20 gap-4">

    <div class="flex justify-between">
      <p class="flex text-3xl font-bold w-fit mr-[24px]">Frederik Beck</p>

      @if (overlayService.usersProfilView) {} @else {
      <img
        class="max-[500px]:block cursor-pointer hidden hover:scale-[1.2] duration-200 active:scale-[0.9] w-[40px] h-[40px] rounded-[40px] p-[3px]"
        (click)="editProfile()"
        src="/assets/icons/edit2.svg" alt="" />
      <span
        class="max-[500px]:hidden cursor-pointer hover:scale-[1.2] duration-200 active:scale-[0.9]  p-[3px] gap-[0px] transition-all text-purple1 ease-out"
        (click)="editProfile()">Bearbeiten</span>
      }

    </div>

    <div class="flex items-center gap-4">
      <div class="rounded-[50%] bg-online size-4"></div>
      Aktiv
    </div>

  </div>

  <div class="flex items-start gap-5">
    <img src="/assets/icons/mail.svg" alt="" />

    <div class="flex flex-col">
      <span class="font-bold">E-Mail-Adresse</span>
      <a class="cursor-pointer text-linkblue hover:scale-[1.1] duration-200">test&#64;mail.de</a>
    </div>
  </div>

  }



  @if (overlayService.usersProfilView) {
  <div class="flex justify-center w-full">
    <button
      class="flex text-white px-6 py-3 bg-purple1 rounded-[50px] gap-3 hover:scale-[1.2] duration-200 active:scale-[0.9]">
      <img src="/assets/icons/mode_comment.svg" alt="" />
      Nachricht
    </button>
  </div>
  }



  @if(editProfil){
  <div class="flex justify-center w-full gap-8">
    <button
      class="flex  px-6 py-3 border border-purple2 text-purple1 rounded-[50px] gap-3 hover:scale-[1.2] duration-200 active:scale-[0.9]"
      (click)="editProfile()">
      Abbrechen
    </button>

    <button
      class="flex text-white px-6 py-3 bg-purple1 rounded-[50px] gap-3 hover:scale-[1.2] duration-200 active:scale-[0.9]">
      Speichern
    </button>
  </div>
  }




</section>